.navbar {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  .navbar a {
    color: #25C702;
  }
 